<head>
    <style>
    * {
    font-family: Arial, Helvetica, sans-serif;
}
.container-winner {
 
    background-size: 53vh 50vh;
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
}

    .container-global {
    text-align: center;
    width: 100%;
    align-items: center;
    justify-content: center;
    }
    
  .title h1 {
    color: #0A265D;
    font-family: system-ui, -apple-system, Helvetica, Arial, sans-serif;
  }

  .title p {
    color: #0A265D;
    font-family: system-ui, -apple-system, Helvetica, Arial, sans-serif;
  }

  .titleText {
    margin-top: 20px;
    text-align: center;
  }

  .select {
    margin-top: 20px;
  }

  .select label {
  }

  .container-global button {
    margin-top: 20px;
    background: #0A265D;
    height: 6vh;
    width: 200px;
    color: #fff;
    outline: none;
    border: none;
    font-weight: 500;
    cursor: pointer;
    font-size: 17px;
    transition: 0.3s;
    border-radius: 10px;
}

.container-global button:hover {
    background: #3286ca;
}

.versus {
    margin: 20px;
    width: 150px;
    height: 150px;
}

.winnerImg {
    border-radius: 20px;
    width: 500px;
    height: 500px;
}

.containerWinner {
    margin-top: 10px;
    align-items: center;
    justify-content: center;
    padding: 5px;
    border-radius: 5px;
    background: #0A265D;
}

.modal {
  display: none; 
  position: fixed; 
  z-index: 1; 
  left: 0;
  top: 0;
  width: 100%; 
  height: 100vh; 
  overflow: hidden; 
  background-color: rgb(0,0,0); 
  background-color: rgba(0,0,0,0.4); 

}


.modal-content {
  background-color: #F6F6F6;
  padding: 20px;
  border: 1px solid #888;
  width: 80%; 
  position: fixed;
  top: 50%;
  left: 50%;
  translate: -50% -50%;
  overflow-y: auto;
  max-height: 80vh;
  border-radius: 10px;
}

.modal-content::-webkit-scrollbar {
  width: 10px;
}

.modal-content::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 4px;
}

.modal-content::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 4px;
}

.modal-content::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.openModal {
    margin-top: 20px;
    background: #0A265D;
    height: 7vh;
    width: 100%;
    color: #fff;
    outline: none;
    border: none;
    font-weight: 500;
    cursor: pointer;
    font-size: 17px;
    transition: 0.3s;
}


#div1 {
  width: 100px;
    height: 100px;
    display: inline-block;
  
  
}
#div2 {
  width: 100px;
    height: 100px;
    display: inline-block;
    padding: 4px;
 
}
#div3{
  width: 100px;
  height: 100px;
  display: inline-block;
}


    </style>

    
</head>


<% if @bagmon1 && @bagmon2 %>
    <div class="container-winner">
    <div class="title"> 
        <div class="titleText">
             
        </div>
            <img class='winnerImg' src=<%= @winnerImg %> />
            <h1 style='margin-top: 20px; color: #0A265D '>Vencedor</h1>
            <div class='containerWinner'>
            <h2 class='titleWinnerName' style='color: #fff;'><%= @winnerName %></h2>
            </div>
        </div>
    </div>

   



  <h1>Histórico da batalha</h1>
    <span class="close">&times;</span>
            <% @rounds.each do |round| %>
            <p style='margin: 5px'><%= round %></p>
        <% end %>
  </div>

</div>

<script>

var modal = document.getElementById("myModal");
var btn = document.getElementById("myBtn");

var span = document.getElementsByClassName("close")[0];

btn.onclick = function() {
  modal.style.display = "block";
  document.querySelector("body").style.overflow = 'hidden';
}

span.onclick = function() {
  modal.style.display = "none";
  document.querySelector("body").style.overflow = 'auto';
}

window.onclick = function(event) {
  if (event.target == modal) {
    modal.style.display = "none";
  }
}

</script>




<% else %>

  <div class="title"> 
    <div class="titleText">
       <h1>Batalha</h1>
        <p>Selecione dois Bagmons para iniciar uma batalha!</p>
    </div>
<div class="container-global">
    <form action="/battle">
    
    <div id="div3">
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <h1>VS</h1>
    </div>
        <div class="select">
            <div id="div1">

                <label for="bagmon1" style='font-weight: bold; margin-right: 10px; color: #0A265D '>Bagmon 01</label>
                <select id="bagmon1" required  name="bagmon1">
                   <option selected disabled>Selecione...</option>
                    <% @bagmons.each do |bagmon| %>
                        <option value="<%= bagmon.id %>"><%= bagmon.name %></option>
                    <% end %>
                </select>
            </div>


            <div id="div2">
                <label for="bagmon2" style='font-weight: bold; margin-right: 10px; color: #0A265D'>Bagmon 02</label>
                <select id="bagmon2" required name="bagmon2">
                    <option selected disabled>Selecione...</option>
                    <% @bagmons.each do |bagmon| %>
                        <option value="<%= bagmon.id %>"><%= bagmon.name %></option>
                    <% end %>
                </select>
            </div>
        </div>

       
        <button>Batalhar</button>
    </form>
    
    
    </div class="container-global">
<% end %>